/*

<!--
firstColor:#08526d;
secondColor:#eclc23
-->

*/
body{}
.upper-bar{
    background-color: #08526d;
    color: #fff;
    padding: 10px;
}
.upper-bar span{
    color: #bfc6c9;
}
.upper-bar .get-quote{
    display: inline-block;
    border: 1px solid #ec1c23;
    padding: 2px 10px;
    margin-left: 20px;
}
.getDir{text-align: right;}
/*Start Navbar*/
.navbar-brand>span{
    font-size:40px ;
}
.navbar-brand span:first-child{
    color:#08526d; 
    font-weight: bold;
}
.navbar-brand span:last-child{
    color: #ec1c23 ;
}

.navbar-light .navbar-nav .nav-link{
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 5px;
    color: #08526d;
    font-weight: bold;
}
.navbar-light .navbar-nav .active>.nav-link{
    color:#ec1c23 ;
}
/*End Navbar*/

/*Start Slider*/
.slider{
    background-color:#DDD;


}
.slider .carousel-inner h1{
    position: absolute;
    color:#fff;
    z-index: 3;
    font-size:65px ;
    max-width:900px;
    line-height: 1.5;

  /*  top:50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
    left: 100px;
}
.slider .carousel-inner{
    display: flex;
    align-items: center;
    justify-content: left;
    
}
.slider .carousel-inner h1 span{
   background-color:#ec1c23;
   color: #fff;
   display: inline-block;
   padding: 2px 10px;
}
.slider .carousel-inner .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;

}

.slider .carousel-item{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slider .carousel-one{
    background-image: url('../images/1.jpg');
}
.slider .carousel-two{
    background-image: url('../images/2.jpg');
}
.slider .carousel-three{
    background-image: url('../images/3.jpg');
}
.slider .carousel-indicators li{
    height: 8px;
    cursor: pointer;
}
/*End Slider */
/*Features*/
.Features{
    padding: 50px;
}
.Features i{
    background-color: #ec1c23;
    color: #fff;
    padding: 12px;
    margin-bottom: 10px;
}
.Features h3{
    color: #08526d;
}
.Features p{
    color: #989898;
    margin-bottom: 40px;
}
/*End Features*/
 /*Overwiew*/
.overwiew{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f0f5f7;
}
.overwiew h2{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}
.overwiew p{
    line-height: 1.6;
    font-size: 20px;
    width: 80%;
    margin: 0 auto 15px;
    color:#6a6a6a;
}
.overwiew h4{
    letter-spacing: 2px;
    font-weight: normal;
    margin-bottom: 40px;
    color:8b8a8a;
}
.overwiew button{
    background-color:#ed1d24;
    color: #fff;
    font-size: 20px;
    margin-bottom:10px 30px;
}


/*End_overview*/


/*Featured-Work*/
.Featured-Work{
    padding: 100px 0;
}
.Featured-Work h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.Featured-Work p{
    line-height: 1.6;
    font-size: 20px;
    width: 80%;
    margin: 0 auto 15px;
    color:#6a6a6a;
}
.Featured-Work ul{
    margin-top: 40px;
    margin-bottom: 30px;
}
.Featured-Work ul li{
    color: #08526d;
    border: 2px solid #08526d;
    padding:10px 20px ;
    margin: 10px 2px 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}
.Featured-Work ul li.active,
.Featured-Work ul li:hover{
     background-color: #ec1c23;
     border: 2px solid #ec1c23;
     color: #fff;
}
.Featured-Work ul li:hover{
    cursor: pointer;
}
.Featured-Work ul li:hover .Featured-Work ul li.active{
    background-color: #fff;
}
.Featured-Work .shuffle-images{
    margin-top: 50px;

}
.Featured-Work  .shuffle-imgs .row{

    margin: 0;
}
.Featured-Work  .shuffle-imgs .row .col-md{
    padding: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}
.Featured-Work  .row img{
    width: 100%;
}

/*End_Featured-Work*/

/*Latest Post*/

.latest-post{
    padding: 100px 0;
}
.latest-post h2{font-size: 50px;}
.latest-post h5{font-size: 30px;}
.latest-post h2,h5{
    font-weight: bold;
    margin-bottom: 20px;
}
.latest-post p{
    line-height: 1.6;
    font-size: 20px;
    margin: 0 auto 15px;
    color:#6a6a6a;
}




/***********************************************************
@media screen and (min-width:769px) and (max-width:1000px)
{
      body{ background:rgb(160, 34, 97);}
}*/
@media screen and (min-width:401px) and (max-width:768px)
{
     .getDir{
         text-align: left;
     }
     .slider .carousel-inner h1{
        font-size:50px ;
        line-height: 1.2;
        left: 20px;

    }
    p{text-align: justify !important;}
}
@media screen and (max-width:400px)
{
           .slider .carousel-inner h1{
                font-size:28px ;
                line-height: 1.1;
                left: 11px;

            }
            .getDir{
               text-align: left;
            }

            p{text-align: justify !important;}
            .
            .latest-post .card-deck .card p{text-align: left !important;}

            
}